; nittany make file for local development
core = "7.x"
api = "2"

projects[drupal][version] = "7.x"
; include the d.o. profile base
includes[] = "drupal-org.make"

; +++++ Libraries +++++

; Profiler
libraries[profiler][directory_name] = "profiler"
libraries[profiler][type] = "library"
libraries[profiler][destination] = "../../profiles/nittany/libraries"
libraries[profiler][download][type] = "get"
libraries[profiler][download][url] = "http://ftp.drupal.org/files/projects/profiler-7.x-2.x-dev.tar.gz"

; nittany
libraries[nittany][directory_name] = "nittany"
libraries[nittany][type] = "profile"
libraries[nittany][destination] = "../../profiles"
libraries[nittany][download][type] = "get"
libraries[nittany][download][url] = "http://ftp.drupal.org/files/projects/nittany-7.x-1.x-dev.tar.gz"

